:root {
  --font-color: rgb(45, 45, 45);
  --background-color: 153, 217, 140;
  --accent-color: 153, 217, 140;
  
  font-size: 100%;
  font-family: 'Spectral';
  color: var(--font-color);
  background-color: rgb(var(--background-color), 0.1);
}

* {
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.25rem;
  letter-spacing: -0.6px;
  line-height: 1.75rem;
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
  font-weight: 600;
}

li {
  font-size: 1.25rem;
  list-style: inside;
}

header {
  padding: 1rem 1rem 1rem 1rem;
  margin-top: 1rem;
  background-color: rgb(var(--accent-color), 0.8);
  border-radius: 1rem;
}

section {
  padding: 1rem;
  background-color: rgb(var(--accent-color), 0.3);
  border-radius: 1rem;
}
